body {
	background-color: #010A13 !important;
	color: #e6f4ff !important;
	margin: 50px !important;
	text-align: center;
}

a:link, a:visited, a:hover, a:active {
	color: #e6f4ff !important;
	text-decoration: none;
}