/*=================== Misc ===================*/
@font-face {
    font-family: "ShinGoProB";
    src: url("Shin_Go_Pro_B.otf");
}

:root {
    --main-bg-color: #010A13;
    --font: "ShinGoProB";
}

body {
    margin: 0 !important;
}

/*=================== Navbar ===================*/

nav {
    height: 90px;
    width: 100%;
    background-color: #04111e;
    border-bottom: 10px solid;
    border-color: #071828 !important;
    z-index: 1;
    position: fixed;
    font-family: var(--font);
    font-size: 16px;
}

div#navmenu div{
    display: inline-block;
    height: 100%;
}

#selectionBtns {
    float: left;
    padding-left: 20px;
}

#selectionBtns label {
    cursor: pointer;
    margin-top: 7px;
    display: flex;
    flex-direction: column;
    text-align: right;
}

#title {
    font-family: var(--font);
    font-size: 40px;
}

#miscBtns {
    float: right;
}

#exportBtn {
    position: relative;
    margin-right: 50px;
    margin-top: 25px;
    font-size: 20px;

    opacity: 0.2;
}

#exportBtn label {
    /*cursor: pointer;*/
}

#directionalBtns {
    margin-top: 16px;
    margin-right: 30px;
    float: right;
}

#directionalBtns label {
    cursor: pointer;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

/*=================== Table ===================*/

#table {
    padding-top: 110px;
    margin: 0px 40px 0px 40px;
}

figure {
    display: inline-block;
}

img{
    width: 100px;
    height: 100px;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.6s;
}

figcaption {
    font-family: var(--font);
}

.selected{
    opacity: 0.2;
    filter: alpha(opacity = 40);
    transition: opacity 0.6s;
}

#footer {
    font-family: var(--font);
    font-size: 14px;
    float: right;
    text-align: right;
    padding-bottom: 15px;
    padding-right: 20px;
}

.nodrag {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

/*=================== Scrollbar ===================*/

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background: #020e1b;
}

::-webkit-scrollbar-thumb {
    background: #021325;
}

::-webkit-scrollbar-thumb:hover {
    background: #02101f;
}